.oculto{
    display: none;
}

.FFpesquisaSGE > input {
    border-radius: 4px;
    border: 1px solid #B0B3B8;
}
/*   Não funfou, Testar de novo
.FFpesquisaSGE > input:focus {
    border: 1px solid #3A3B3C !important;
}*/

/* Para melhor a aparência, talves terá de desabilitar*/
/*[valign="bottom"]*/
td {
    vertical-align: middle !important;
}

.dxrpControl .dxrpHeader {
    background-image: none !important;;
    background-color: #dde0ef !important;;
}

.dxnbLite_Edu .dxnb-header, .dxnbLite_Edu .dxnb-headerCollapsed, .dxgvHeader_Edu, .dxeButtonEditButton {
    background-image: none !important;
    background-color: #dde0ef;
}

/*Mudar fonte*/
.dxnb-ghtext, .dx-vam{
    font-family: Tahoma, Arial, Helvetica, sans-serif !important;
}

/*Menu de turmas arredondado*/
.dxnb-header {
    border-radius: 7px 7px 0px 0px;
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.dxnb-headerCollapsed {
    border-radius: 7px;
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.dxnb-content{
    border-radius: 0 0 7px 7px !important;
}

span.dx-vam{
    line-height: normal !important;
}

/*Setas menu lateral COLOCAR POSIÇÂO LEFT*/

.seta {
    position: relative;
    padding: 4px;
    box-shadow: 1.4px -1.4px 0 0px #14608e inset;
    border: solid transparent;
    border-width: 0 0 1px 1px;
    transform: scale(0.25);
    transform: rotate(45deg);
}

img[src="HTTPS://WWW2.FIEMG.COM.BR/CORPORE.NET/SHAREDSERVICES/IMAGES/LEFT_MENU_EXPAND.GIF"] ~ .seta{
    transform: rotate(225deg);
}

/*Aba menu lateral*/
.AccodionHeaderIconCell{
    height: 16.516px;
}
.AccodionHeaderIconCell + td {
    background-image: none !important;
    background: #d5dcf0;
}

.AccodionHeaderIconCell > img {
    display: none;
}
.AccodionHeaderIconCell::before {
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
    background: red;
    border-right: 10px solid #d5dcf0;
    border-bottom: 16px solid #FFF;
}

/* Estavam como JS antes de ter o CSS específico */
#ctl24_EduTurmasProfRadioButtonWebForm1_ctl00_divContexto {
    padding-top: 0px !important;
}
#ctl24_EduTurmasProfRadioButtonWebForm1_ctl00_xrpContextoEducacional_HC, #ctl24_EduTurmasProfFiltroSelecionado1_xrpContextoEducacional_HC{
    height: 25px !important;
    padding-left: 5px !important;
}
/* Momentaneamente desativado pois foi inserido uma div para conter um botão o que fez com que a interface respeitasse a margin do span */
/* #ctl24_EduTurmasProfRadioButtonWebForm1_xtabPeriodosLetivos{
    margin-top: 10px !important;
} */
#HeaderTD {
    background: #14608e !important;
    background-image: none !important;
    padding-bottom: 0px !important;
}
#HeaderTable{
    height: 100% !important;
}
#btExit{
    padding-top: 0px !important;
}
#AddressTD{
    background: #d5dcf0 !important;
    background-image: none !important;
    padding: 5px 0 5px 4px !important;
}
#LeftMenuTable{
    background-image: none !important;
}
#LeftMenuTable > tbody > :first-child > td{
    height: 31px !important;
    background-image: none !important;
    background: #d5dcf0 !important;
    border-right: 1px solid #ccc!important;
    border-bottom: 1px solid #ccc!important;
}
#LeftMenuTable > tbody > :first-child > td > span > table > tbody > tr{
    background: #d5dcf0 !important;
}
#cpLeft_Img{
    display: none !important;
}
#LeftMenuTD{
    background-image: none !important;
}
#tdLeftOptions{
    background-image: none !important;
}
#tdLeftOptions > table > tbody > tr {
    border-top: none !important;

}
#ctl09_ctl00_accordionMenuAccordionItems0_Header > table {
    border-top: none !important;
}

#tbPrincipal > tbody > :nth-child(2) > :first-child {
    vertical-align: top !important;
}

.clHeaderTD {
    background-image: none;
    background: #d5dcf0 !important;
}

/* Tabela de frequencias */
/* tr.primeira_aula{
    background: #d5dcf0 !important;
} */
#ctl24_xgvPlanoAula_DXMainTable > tbody > tr:nth-child(5n + 2){
    background: #d5dcf0 !important;
}
#ctl24_xgvPlanoAula_DXMainTable > tbody > tr.dxgvSelectedRow_Edu{
    background: #cccccc !important;
    color: black;
}

#rmscaptcha input {
    margin-top: 10px;
}

#rmscaptcha input#RMSCaptcha_btnTryNewWords {
    padding-top: 1px;
}

#ctl24_EduTurmasProfRadioButtonWebForm1_RMWLabel1 {
    padding: 0px !important;
    padding-left: 5px !important;
}

/* Janela chata que aparece no inicio */
#dxpc-header {
    background: #14608e !important;
    background-image: none !important;
}

/* Dando espaço para o lugar da scrollbar no mainmenu */
.sem-scroll {
    width: calc(100% - 15px) !important;
}

/* Grade para turmas arquivadas */
.grid {
    display: block;
    background-image: repeating-linear-gradient(-135deg,transparent,transparent .5625rem,rgba(213,220,240,0.8) .5625rem,rgba(213,220,240,0.8) .625rem);
    background-size: .8838834765rem .8838834765rem;
    transform: rotateZ(15deg);
    bottom: -50%;
    left: -50%;
    right: -50%;
    top: -50%;
    position: absolute;
    height: 400%;
    width: 280%;
    pointer-events: none;
}

#ctl24_EduTurmasProfRadioButtonWebForm1_xtabPeriodosLetivos_C0 {
    position: relative;
}








/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin-left: auto;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  .slider.round {
    border-radius: 17px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  .slider.grande{
    transform: scale(1.2);
  }
  .disable {
    filter: opacity(0.5) grayscale(1) blur(0.5px);
  }