*{
    box-sizing: inherit;
}

html {
    display: flex;
    font-size: 18px;
    color: #212121;
    background-color: #fff;
    font-family: sans-serif;
    line-height: 1.5;
}



body{
    display: flex;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 300;
    margin: 0;
    padding-top: 4em;
    line-height: 1.5;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#navbar {
    top: 0px;
    min-height: 4em;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 9002;
    width: 100%;
    top: 0;
    transition: top 0.2s ease-in-out;
    border-bottom: 1px solid #d2d2d2;
}

nav {
    display: block;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    font: sans-serif;
    vertical-align: baseline;
}

#navbar .container {
    padding-left: 0;
    padding-right: 0;
}

.container {
    width: 1140px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1em;
    padding-left: 1em;
}

div {
    display: block;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    font: sans-serif;
    vertical-align: baseline;
}

#navbar-logo, #navbar-logo > * {
    float: left;
}

#navbar-logo {
    min-width: 14em;
    padding: 0.3em 1em 0em;
    color: #fff;
}

#navbar-logo img {
    height: 3.2em;
    width: auto;
    padding: 0.3em 0em;
    margin: 0em 1em 0em 0em;
}


#navbar-menu a {
    display: block;
    color: #000;
    text-decoration: none;
}


@media (min-width: 1200px){
    #navbar .active a::before {
        content: "";
        position: absolute;
        background: #0779d0;
        height: 2px;
        width: 40%;
        left: 30%;
        right: 30%;
        top: 71px;
    }
    #navbar-menu {
        float: right;
    }
    #navbar-menu > li > a {
        padding: 0em 1em;
        line-height: 72px;
        font-weight: 100;
    }
    #navbar-menu > li, #navbar-menu > li > a {
        display: inline-block;
    }
    #navbar-menu > li > a:hover, #navbar-menu > li > a:active, #navbar-menu > li > a:focus {
        color: #0779d0;
        background: #EDF9FF;
    }

    #navbar .active a {
        font-weight: bold;
        position: relative;
    }

    #copyright-notice {
        float: left;
    }

    #legal-list {
        float: right;
    }

    #legal-list li {
        padding-left: 1.5em;
    }

}

ol, ul {
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#navbar li {
    list-style-type: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

html, body, h1, h2, h3, h4, h5, h6, a, p, span, em, small, strong, sub, sup, strike, s, mark, del, ins, abbr, dfn, blockquote, q, cite, code, pre, kbd, samp, var, output, ruby, ol, ul, li, dl, dt, dd, div, section, article, main, aside, nav, header, hgroup, footer, img, figure, figcaption, address, time, audio, video, canvas, object, iframe, embed, details, summary, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    font: sans-serif;
    vertical-align: baseline;
}

*, *:before, *:after{
    box-sizing: inherit;
}

ol, ul {
    list-style: none;
}



.container-doar{
    margin: 71px 150px 40px 150px;
    display: flex;
    flex-direction: column;
    min-height: 68%;
}

#doar-pagseguro{
    display: flex;
    margin: 0 auto;
}

h1{
    margin-top: 36px;
    font-size: 52px;
}

p {
    margin: 1em 0em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

article, aside, footer, header, nav, section, main {
    display: block;
}

#footer {
    color: #ececec;
    background-color: #000;
    font-size: 0.9em;
}

#footer ul {
    padding: 0em;
    list-style-type: none;
}

#footer #footer-legal #copyright-notice, #footer #footer-legal #legal-list {
    margin: 2em 0;
}

sup {
    position: relative;
    font-size: 75%;
    vertical-align: super;
}

#footer a {
    font-weight: 300;
    color: #fff;
    text-decoration: none;
}

#footer a:hover, #footer a:active, #footer a:focus {
    color: #fff;
    text-decoration: underline;
}

#legal-list {
    overflow: auto;
}

#legal-list li {
    float: left;
    margin: 0;
}

.mainForm{
    margin-bottom: 60px;
}

.metodos-doar{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 120px;
}

#doar-pix{
    margin: 0 auto;
    display: flex;
}

.qr {
    margin: auto 0;
}

#ou {
    font-size: 22px;
    height: 33px;
    width: 26px;
    position: absolute;
    top: calc(50% - 11px);
    left: calc(50% - 13px);
}

h1, h2, h3, h4, h5, h6 {
    margin: 32px 0 16px 0;
    margin: 2rem 0 1rem 0;
    line-height: 1.4;
}

h2 {
    font-size: 1.5em;
}



@media (min-width: 768px){
    h2 {
        font-size: 42px;
    }
}

.sobre {
    margin: 0 6rem;
}

p a:visited {
    color: blue;
}

p {
    text-align: justify;
}

li ::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

@media (max-width: 1199px){
    .metodos-doar{
        margin: 0;
        margin-top: 20px;
    }
    .container-doar{
        margin-left: 30px;
        margin-right: 30px;
    }
    .navbar-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 945px){
    .metodos-doar{
        flex-direction: column;
    }
}